.main {
    width: 80%;
    margin-top: 20%;
    margin-left: 10%;
}

.main h1{
    font-size: 45px;
    color: black;
}

.main button{
    margin: 0 15px;
    margin-top: 10px;
    padding: 5px;
    color: #8e24f8;
    background: none;
    border: 2px solid #8e24f8;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.main button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.buttons{
    margin:0 -15px;
}

.main h1, .main h2, .buttons{
    animation-name: slideCima;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.iconsLinguagens{
    margin-top: 2%;
    margin-bottom: 1%;
}

.iconsLinguagens img:hover{
    cursor: pointer;
    transform: scale(1.1);
}