*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
}

.nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 14%;
    transition: .3s;
}

.title{
    color: black;
    font-size: 1.8rem;
    font-weight: 600;
    font-weight: bold;
}

span{
    color: #8e24f8;
}

.items{
    display: flex;
}

.items a{
    color: black;
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    font-weight: bold;
}

.items a:hover{
    color: #8e24f8;
}

.iconMenu{
    color: #8e24f8;
    display: none;
}

@media only screen and (max-width: 900px){
   
    .items a{
        display: none;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        height: 0px;
        transition: .6s;
        z-index: 1000;
    }

    .iconMenu{
        position: absolute;
        display: flex;
        z-index: 10000;
        cursor: pointer;
    }

}
